<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Markdown Preview</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" integrity="sha256-2pUeJf+y0ltRPSbKOeJh09ipQFYxUdct5nTY6GAXswA=" crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.min.js" integrity="sha256-7/yoZS3548fXSRXqc/xYzjsmuW3sFKzuvOCHd06Pmps=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/js-beautify/1.8.9/beautifier.min.js" integrity="sha256-hJ7Dv9hbb+uqtlmSWlL0Hz1Ny6EOPHMnTALZFqsd3Iw=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/8.4.2/markdown-it.js" integrity="sha256-L6nwQfrUv4YrDu/OyAjehTyMjZ7d0n0tjm8aBxHEn18=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/markdown-it-deflist@2.0.3/dist/markdown-it-deflist.min.js" integrity="sha256-5SAvr8uZ/sP3y+6f6+RUETCPBGqEQBD1NoClngKwQcs=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.22/vue.js" integrity="sha256-GmgFjvxj3EgNe3TECaFoMnNKxVc3zY7Ouiyd+K4tqc8=" crossorigin="anonymous"></script>
</head>
<body>
  <style>
    [v-cloak] {
      display: none;
    }
    .html-source {
      font-size: 14pt;
    }
    textarea {
      font-family: monospace;
    }
  </style>
  <div id="app" v-cloak>
    <section class="section">
      <div class="container">
        <div class="field" id="input">
          <div class="control">
            <input type="checkbox" v-model="raw">Show HTML Source
          </div>
          <label class="label">Markdown</label>
          <div class="control">
            <textarea
              cols="80"
              rows="12"
              class="textarea"
              v-model="input"></textarea>
          </div>
        </div>
        <hr>
        <h1 class="title is-5">Output</h1>
        <div class="output">
          <output-wrapper :component-id="outputComponentId" :source="output" />
        </div>
      </div>
    </section>
  </div>
  <script src="./main.js"></script>
</body>
</html>